#kritter{
    text-align: center;
    padding: 100px;
}
#socials{
    background-color: #b8611a;
    padding: 5px;
}
body{
    background-color: #ce8122;
}
h1{
    text-align: center;
    color: rgb(235, 235, 235);
    font-family: Calibri;
}
p{
    text-align: center;
}